version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    container_name: "postgres"
    command: postgres -c 'max_connections=200'
    environment:
      POSTGRES_PASSWORD: ""
      POSTGRES_USER: "postgres"
      POSTGRES_HOST_AUTH_METHOD: "trust"
    ports:
      - 7432:5432
    volumes:
      - ./blockscout-db-data:/var/lib/postgresql/data/
